body {
  padding-top: 100px; 
}

a{
	color: #ffd400;
}

div section h1 a{
	color: black;
}

.btn-default{
	background: #ffd400;
	font-weight: 700;
	font-size: 20px;
	color: black;
}


h1, h2, h3, h4, h5, h6, p, b, a{
	font-family: 'Lato', sans-serif;
}

h1{
	font-weight: 700;
}

p{
	font-weight: 400;
}

.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
}

.amp-btn-w{
	width: 96px;
}

.page-header{
	border-bottom: 1px solid #ffd400;
}

.background{
	/*background: #4d4d4f;
	padding-top: 15px;
*/}

.panel{
	border: 2px solid transparent;
	
}

.panel-default{
	border-color: #ffd400;
}

.page-header{
	margin: 20px 0 20px;
}

.banner{
	background: #ffd400;
	width: 100%;
	height: 150px;
	padding-top: 20px;

	/*margin-bottom: 15px;*/

}

.banner-bdy{
	border: 2px solid black;
	border-left: none;
	border-right: none;
	text-align: center;
}

.banner-bdy p{
	margin: 0;
}

.spl-logo{
	height: 400px;
	width: 600px;
	margin-top: 39px;
}

.logo-hold{
	background: gray;
	height: 100;
	width: 150;
}

.sm-badge{
	height: 50px;
	width: 50px;
	border-radius: 25px;
	background: black;
	display: inline-block;
	margin: 5px;
}

.list-kill{
	list-style-type: none;
	margin-left: 0;
}

.view-mem{
/*
	border: 2px solid black;
*/
	height: 220px;
	width: 130px;
	text-align: center;
}

.img-mem{
	height: 100px;
	width: 100px;
	border-radius: 50px;
	background: gray;
	margin-top: 25;
	
}

.img-mem-wrap{
	vertical-align: center;
}

.center{
	text-align: center;
}

.project-view{
	background: black;
	border: 1px solid black;
	height: 100px;
	width: 100px;
	margin-left: 110px;
	margin-bottom: 100px;
	color: white;
}

.block{
	display: inline-block;
}

.nav-logo{
	width: 50px;
    height: 25px;
}

.flex{
	display: inline-flex;
}

nav div ul li button{
	margin-left: 10px;
}

.text-lg{
	height: 50px;
}

.end-sec{
	margin-bottom: 50px;
}

.shadow {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

