<script type="text/ng-template" id="ContactUs">
    <div class="modal-header">
        <h2 class="modal-title">Contact Us</h2>
    </div>

    <div class="modal-body row">
    
		<section class="col-md-12">
			<h3>Cindy Smith, <small>AMP Coordinator</small></h3>
			<p>csmith@parkland.edu</p>
			<p>(217) 351-2270</p>
		</section>

		<div class="container-fluid">
			<form name="contactUs" class="contact-form" novalidate>
			  	<div class="form-group">
					<label for="Name">Name</label>
					<input type="text" class="form-control" ng-model="name" name="Name" placeholder="Name..." required>

				  	<div ng-hide="cover" role="alert">
	      				<span class="error" ng-show="contactUs.Name.$error.required">Please Enter Name.</span>
	    		  	</div>
				</div>


			  	<div class="form-group">
					<label for="Email">Email Address</label>
					<input type="email" class="form-control" ng-model="email" name="Email"  placeholder="Email..." required>

				 	 <div ng-hide="cover" role="alert">
	      				<span class="error" ng-show="contactUs.Email.$error.required">Please Enter Email.</span>
	      				<span class="error" ng-show="contactUs.Email.$error.email">Please Enter a Valid Email.</span>
	    			  </div>
			 	 </div>


    			<div class="form-group">
					<label for="Message">Subject</label>
					<input type="text" class="form-control" ng-model="subject" name="Subject" placeholder="Subject" required>

				 	<div ng-hide="cover" role="alert">
	      				<span class="error" ng-show="contactUs.Subject.$error.required">Please Enter a Subject.</span>
	    		 	</div>
			  	</div>


				<div class="form-group">
					<label for="Message">Message</label>
					<textarea type="text" class="form-control text-lg" ng-model="message" name="Message" placeholder="Your Message Here..." required></textarea>

				 	<div ng-hide="cover" role="alert">
	      				<span class="error" ng-show="contactUs.Message.$error.required">Please Enter a Message.</span>
	    		 	</div>
			 	</div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="submit(contactUs)">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
    </script>