<script type="text/ng-template" id="ContactUs">
        <div class="modal-header">
            <h2 class="modal-title">Contact Us</h2>
        </div>
        <div class="modal-body row">
			<section class="col-md-6 pull-left">
			<h3>Cindy Smith, <small>Coordinator</small></h3>
			<p>csmith@parkland.edu</p>
			<p>(217) 351-2270</p>
			</section>
			<section class="col-md-6 pull-right">
			<h3>Kendra McClure, <small>Faculty Advisor</small></h3>
			<p>kmcclure@parkland.edu</p>
			<p>(217) 353-2698</p>
			</section>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
	
