<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" href="../css/amp.css" />
<script type="text/javascript" src="https://code.angularjs.org/1.4.7/angular.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.4.7/angular-animate.js"></script>
<script type="text/javascript" src="../js/ui-bootstrap14.min.js"></script>

<style type="text/css">
	body{
		padding: 0;
	}
</style>

<div class="banner">
	<section class="banner-bdy">
		<p>Applied Media Promotions</p>
		<p>Room D023</p>
		<p>Parkland College</p>
		<p>2400 West Bradley Avenue</p>
		<p>Champaign, IL 61821</p>
	</section>
</div>