<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" href="components/css/amp.css" />
<script type="text/javascript" src="https://code.angularjs.org/1.4.7/angular.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.4.7/angular-animate.js"></script>
<script type="text/javascript" src="components/js/ui-bootstrap14.min.js"></script>



	<div ng-controller="NavCtrl">

<nav class="navbar navbar-inverse navbar-fixed-top">
		<div style="background: white;"class="container-fluid">
	<section class="row">
		<div class="col-md-12">
			<a href="https://www.linkedin.com/grps/Applied-Media-Promotions-AMP-Parkland-8317100/about">
		        <img alt="icon" class="sm-badge pull-right" src="assets/imgs/linkin.jpg">
		    </a>
			<a href="https://www.facebook.com/AMP.at.PC?fref=nf">
				<img alt="icon" class="sm-badge pull-right" src="assets/imgs/fbico.jpg">
        	</a>
		</div>
	</section>
</div>
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			</button>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
        	<li><a href="#">Home</a></li>
			<li><a href="../../../locations/about/about.html">About</a></li>
			<li><a href="locations/service/service.html">Services</a></li>
			<li><a href="locations/join/join.html">Join</a></li>
			<li><a href="locations/portfolio/portfolio.html">Portfolio</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
          <li><button type="button" class="btn btn-success navbar-btn" ng-click="openC()">Contact Us</button></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>    
</div>