.banner{
	background: #ffd400;
	width: 100%;
	height: 150px;
	padding-top: 20px;
	margin-bottom: 15px;
}

.banner-bdy{
	border: 2px solid black;
	border-left: none;
	border-right: none;
	text-align: center;
}

.spl-logo{
	height: 400px;
	width: 600px;
	
}

.ctr-hold{
	text-align: center;
}

.logo-hold{
	background: gray;
	height: 100;
	width: 150;
}

.sm-badge{
	height: 50px;
	width: 50px;
	border-radius: 25px;
	background: black;
	display: inline-block;
	margin: 5px;
}

.list-kill{
	list-style-type: none;
	margin-left: 0;
}

.view-mem{
	border: 2px solid black;
	height: 220px;
	width: 130px;
	text-align: center;
}

.img-mem{
	height: 100px;
	width: 100px;
	border-radius: 50px;
	background: gray;
	margin-top: 25;
	
}

.img-mem-wrap{
	vertical-align: center;
}

.center{
	text-align: center;
}

.project-view{
	background: black;
	border: 1px solid black;
	height: 100px;
	width: 100px;
	margin-left: 110px;
	margin-bottom: 100px;
	color: white;
}

.block{
	display: inline-block;
}

.nav-logo{
	width: 90px;
	height: 25px;
}
